<<<<<<< HEAD
.nav-hed-ove{
  background-color: #007bff;
  color: black;
  font-weight: 500;
  text-decoration-color: white;
}
.nav-hed{
  color: white;
}
.basic-navbar-nav{
  color: black;
}
.but-hed{
  max-width:300;
  margin: auto;
  
=======
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
 

}
 
.navbar {
  background-color: #007bff;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98rem;
  
}
.nav{
  list-style: none;
  display: flex;
  gap: 35px;
  padding: 0;
  margin: 0;
  margin-left: 39rem;
}

.nav-links{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;

} 

.but-hed-nav{
  background-color: green;
>>>>>>> c646e82d7b740eb9be189f7c044e9bf2d310aa64
}